<html>
<head>
    <title>Awesome Board v0.0.1</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="/javascripts/angularApp.js"></script>
</head>
<body ng-app="awesomeBoard">
<div class="row">
    <div class="col-md-6 col-md-offset-1">
        <ui-view></ui-view>
    </div>
</div>
<script type="text/ng-template" id="/home.html">
    <div class="page-header">
        <h1>Awesome Board!</h1>
    </div>
    <form name="teamSelectForm">
        <label for="teamSelect">Select Team:</label>
        <select name="teamSelect" id="teamSelect" ng-model="data.teamSelect" ng-change="getTeam()"
                ng-options="team.name for team in teams | orderBy: 'name'" class="lead">
            <option value="">---Please Select Team or Add New Below---</option>
        </select>
    </form>
    <form name="boardSelectForm">
        <label for="boardSelect">Select Board:</label>
        <select name="boardSelect" id="boardSelect" ng-disabled="!team" ng-model="data.boardSelect" ng-change="getBoard()"
                ng-options="board.name for board in boards | orderBy: 'name'" class="lead">
            <option value="">---Please Select Board or Add New Below---</option>
        </select>
    </form>
    <form ng-submit="addTeam()" ng-hide="data.teamSelect" style="margin-top:30px;">
        <span style="font-size:20px;">
            Add a new team:
        </span>
        <input type="text" class="form-control" placeholder="Team Name" ng-model="teamName"></input>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
    <form ng-submit="addBoard()" ng-hide="!data.teamSelect || data.boardSelect" style="margin-top:30px;">
        <span style="font-size:20px;">
            Add a new board:
        </span>
        <input type="text" class="form-control" placeholder="Board Name" ng-model="boardName"></input>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
    <div class="row" ng-show="board">
        <div class="col-md-12">
            <span class="h2">
                {{team.name}} -- <editable-board-name value="board.name" update="board" class="h2"></editable-board-name>
            </span>
            <br />
            <hr />
            <editable-state-title value="board.currentState.title" class="h3" update="board.currentState"></editable-state-title>
            <br />
            <editable-state-description value="board.currentState.description" update="board.currentState"></editable-state-description>
            <br />
            <hr />
            <editable-state-title value="board.targetState.title" class="h3" update="board.targetState"></editable-state-title>
            <br />
            <editable-state-description value="board.targetState.description" update="board.targetState"></editable-state-description>
            <br />
            <hr />
            <editable-state-title value="board.awesomeState.title" class="h3" update="board.awesomeState"></editable-state-title>
            <br />
            <editable-state-description value="board.awesomeState.description" update="board.awesomeState"></editable-state-description>
            <br />
            <hr />
            <div class="h3">Achievements</div>
            <form ng-submit="addAchievement()" style="margin-top:30px;">
                <span style="font-size:20px;">
                    Add an achievement:
                </span>
                <input type="text" class="form-control" placeholder="Title (optional)" ng-model="data.achievementTitle"></input>
                <input type="text" class="form-control" placeholder="Description" ng-model="data.achievementDesc"></input>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
            <ul ng-show="board.achievements">
                <li ng-repeat="a in board.achievements" data-toggle="tooltip" title="{{ a.date }}">
                    <span ng-show="a.title">
                        <strong>{{ a.title }}: </strong>
                    </span>
                    {{ a.description }}
                </li>
            </ul>
        </div>
    </div>
</script>
</body>
</html>
